{% extends 'base.html.twig' %}

{% block title %}New objective{% endblock %}

{% block body %}
    {{ include('parts/page_header.html.twig', {
        'img_class': 'bg-battle-pet-horde',
        'title': 'New objectives'
    }) }}

    {{ parent() }}
{% endblock %}

{% block subbody %}
    <h1 class="h3 mb-3 font-weight-normal">New objectives</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn">Save</button>
    {{ form_end(form) }}
{% endblock %}
