{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block navbar_class %}{% endblock %}

{% block body %}
    <div class="section section-signup">
        <div class="container">
            <div class="row">
                <div class="card card-signup" data-background-color="orange">
                    {{ form_start(form, {'attr': {'action': path('security_login_check')}}) }}
                    <div class="card-header text-center">
                        <h3 class="card-title title-up">Login</h3>
                    </div>
                    <div class="card-body">
                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                {{ error.message }}
                            </div>
                        {% endif %}

                        <div class="input-group no-border">
                            {{ form_widget(form._username) }}
                            {{ form_errors(form._username) }}
                        </div>
                        <div class="input-group no-border">
                            {{ form_widget(form._password) }}
                            {{ form_errors(form._password) }}
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-neutral btn-round btn-lg" type="submit">Log in</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="col text-center">
                <a href="{{ path('user_register') }}" class="btn btn-simple btn-round btn-white btn-lg" target="_blank">
                    View Register Page
                </a>
            </div>
        </div>
    </div>
{% endblock %}
