<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {{ encore_entry_link_tags('app') }}

    <!--
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9534390253957005",
            enable_page_level_ads: true
        });
    </script>
    -->

</head>
<body class="sidebar-collapse">
<header>
    <nav class="navbar navbar-expand-lg bg-primary fixed-top {% block navbar_class %}navbar-transparent{% endblock %}"
         color-on-scroll="400">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="{{ path('index') }}">WoWCollection</a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navigation" aria-controls="navigation-index" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation"
                 data-nav-image="{{ asset('build/images/blurred-image-1.jpg') }}">
                {% set currentPath = app.request.attributes.get("_route") %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {{ currentPath == "index" ? "active" : "" }}">
                        <a class="nav-link" href="{{ path('index') }}">Home</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item {{ currentPath == "dashboard_stats" ? "active" : "" }}">
                            <a class="nav-link" href="{{ path('dashboard_stats') }}">Stats</a>
                        </li>
                        {#<li class="nav-item {{ currentPath == "objectives" ? "active" : "" }}">#}
                        {#<a class="nav-link" href="{{ path('objectives_index') }}">Objectives</a>#}
                        {#</li>#}
                    {% endif %}
                </ul>
                <ul class="navbar-nav px-3">
                    {% if app.user %}
                        <li class="nav-item text-nowrap">
                            {% if app.session.has('character') %}
                                <a class="nav-link" href="{{ path('dashboard_index') }}">
                                    {{ app.session.get('character')['name'] ?? '' }} -
                                    {{ app.session.get('character')['realm'] ?? '' }}, not you?
                                </a>
                            {% else %}
                                <a class="nav-link" href="{{ path('dashboard_index') }}">
                                    No character selected
                                </a>
                            {% endif %}
                        </li>
                    {% else %}
                        <li class="nav-item text-nowrap">
                            <a class="nav-link" href="{{ path('user_register') }}">Register</a>
                        </li>
                        <li class="nav-item text-nowrap">
                            <a class="nav-link" href="{{ path('security_login') }}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

</header>
<div class="wrapper">
    {% block body %}
        <div class="section">
            <div class="container">
                {% block flashbag %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}

                {% block subbody %}{% endblock %}
            </div>
        </div>
    {% endblock body %}
</div>

{% block javascripts %}{% endblock %}
{{ encore_entry_script_tags('app') }}
</body>
</html>
